{% macro awbCreateButton(shipmentId, text) %}
    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#awbModal" href="{{ path('konekt_courier_create_awb', {'shipmentId': shipmentId}) }}">
        <i class="glyphicon glyphicon-ok"></i> <span>{{ text|default('artkonekt_sylius_shipping.awb.create'|trans) }}</span>
    </a>
{% endmacro %}

{% macro awbDetailsButton(trackingNumber, text) %}
    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#awbModal" href="{{ path('konekt_courier_awb_show_details', {'awbNumber': trackingNumber}) }}">
        <span>{{ text|default(trackingNumber) }}</span>
    </a>
{% endmacro %}

{% macro modalPlaceholder() %}
    <div class="modal fade" id="awbModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true"></div>
{% endmacro %}