<ul>
    {% if carrierGateway.isSupported('show_label_html') %}
        <li>
            <a href="{{ path('konekt_courier_show_label_html', {'awbNumber': awbNumber}) }}" target="_blank">Afișare în HTML</a>
        </li>
    {% endif %}

    {% if carrierGateway.isSupported('show_label_pdf') %}
        <li>
            <a href="{{ path('konekt_courier_show_label_pdf', {'awbNumber': awbNumber}) }}" target="_blank">Afișare în PDF</a>
        </li>
    {% endif %}

    {% if carrierGateway.isSupported('delete_awb') %}
        <li>
            <a href="{{ path('konekt_courier_delete_awb', {'awbNumber': awbNumber}) }}" id="konekt-courier-awb-delete">Ștergere AWB</a>
        </li>
    {% endif %}
</ul>

{% if carrierGateway.isSupported('delete_awb') %}
<script>
    (function ($) {
        $('body').on('click', '#konekt-courier-awb-delete', function (event) {

            if (!confirm('AWB-ul va fi șters din sistemul FANCourier. Ești sigur?')) {
                return false;
            }

            event.preventDefault(); // Prevent the form from submitting via the browser
            var link = $(this);

            $.ajax({
                url: link.attr('href'),
            }).done(function (response) {
                var newContent = $($.parseHTML(response)).filter("#awb-modal-form").html();
                $('#awb-modal-form').html(newContent);
                $('#awbModal').animate({scrollTop: 0}, 'fast');
            }).fail(function (data) {
                alert('Error:' + data);
            });
        });

        $('#awbModal').on('hidden.bs.modal', function () {
            if ($('#awb-modal-awb-nr').length) {
                location.reload();
            }
        })
    })
    (jQuery);
</script>
{% endif %}